body {
  background-image: url("backimg.jpg");
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  text-decoration: underline;
}

.banner {
  background: url(./assets/banner.jpg);
  position: relative;
  height: 500px;
}

.banner .banner-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5rem;
  background-color: #0000005c;
  width: 500px;
  padding: 2rem;
  color: #fff;
}

.services {
  padding: 30px;
  display: flex;
  display: inline;
  align-content: center;
  text-align: center;
  height: 300px;
}

.contact {
  padding: 30px;
}

.services img {
  width: 100px;
  height: 100px;
  padding: 10px;
  display: flex;
  display: inline;
  align-content: center;
}
